*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fbfdff;
}

.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 16px;
}

.logo {
  height: 59px;
  width: auto;
  display: block;
  margin-top: -8px;
}
